* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border: 3px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #fff;
  border: 2px solid orange;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
  border: 2px dashed blue;
  padding: 5px;
}

.logo {
  border: 2px dashed purple;
  padding: 5px;
}

.logo img {
  width: 32px; 
}

nav {
  display: flex;
  gap: 25px;
  border: 2px dashed green;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px dashed brown;
  padding: 5px;
}

.link-plain {
  text-decoration: none;
  color: #222;
  font-size: 14px;
  border: 1px solid black;
  padding: 3px;
}

.btn-outline {
  padding: 10px 16px;
  border: 2px solid black;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.btn-solid {
  padding: 10px 16px;
  border: 2px solid black;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

main {
  border: 2px solid pink;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  border: 2px solid cyan;
}

.container-content {
  max-width: 600px;
  border: 2px solid yellow;
  padding: 10px;
}

.container-content h1 {
  font-size: 80px; 
  margin-bottom: 25px;
  border: 2px dashed red;
}

.container-content p {
  font-size: 18px;
  color: #444;
  line-height: 1.7;
  margin-bottom: 35px;
  border: 2px dashed blue;
}

.container-buttons {
  display: flex;
  gap: 15px;
  border: 2px dashed green;
  padding: 5px;
}

.container-btn-solid {
  background: black;
  color: white;
  border: 2px solid black;
  padding: 16px 26px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.container-btn-outline {
  background: transparent;
  border: 2px solid black;
  padding: 16px 26px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.container-visual {
  display: flex;
  justify-content: right;  
  align-items: right;      
  flex: 1;                  
  border: 2px solid white;
  padding: 10px;
}

.container-visual img {
  width: 500px;  
  max-width: 100%;
  border: 2px dashed red;
}

button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

nav a:hover {
  opacity: 0.6;
}