* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f7f5f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    border: 2px solid red; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px dashed blue;
    padding: 5px;
}

.logo img {
    width: 32px;
}

nav {
    display: flex;
    gap: 25px;
    font-size: 14px;
    color: #333;
    border: 2px dashed green;
    padding: 5px;
}

.menu-direita {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px dashed purple;
    padding: 5px;
}

.btn-comecar {
    background: #0061ff;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: #2B2929;
    border: 2px solid orange;
}

.esquerda {
    max-width: 500px;
    border: 2px solid yellow;
    padding: 10px;
}

.titulo-esquerda {
    border: 2px dashed white;
    margin-bottom: 10px;
}

.titulo-esquerda h2 {
    font-size: 40px;
    color: #ffffff;
}

.texto-esquerda {
    border: 2px dashed lightblue;
    margin-bottom: 10px;
}

.texto-esquerda p {
    font-size: 16px;
    color: #ffffff;
}

.link {
    border: 2px dashed pink;
    margin-bottom: 10px;
}

.link a {
    color: #ffffff;
}

.btn-esquerda {
    border: 2px dashed cyan;
    margin-bottom: 10px;
}

.btn-esquerda button {
    background: #0061ff;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.secundo-link {
    border: 2px dashed lime;
}

.secundo-link a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.direita {
    border: 2px solid white;
    padding: 10px;
}

.imagem-direita {
    border: 2px dashed red;
}

.imagem-direita img {
    width: 600px;
}